.button-gap {
  grid-gap: 5px;
}

.logo-box {
  display:flex;
  background-color: #0a58ca;
}

.text-logo {
  font-size: 3em;
  font-weight: bold;
  color: rgb(243, 241, 241);
}

.text-nav {
  color: #cacaca !important;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  grid-gap: 10px;
  margin-right: 5px;
}

.text-nav:hover {
  text-decoration: underline;
}

.navbar {
      padding-top: 0!important;
      padding-bottom: 0!important;
}